[submodule "packages/firmware/external/Adafruit_SSD1306"]
	path = packages/firmware/external/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
[submodule "packages/firmware/external/Adafruit-GFX-Library"]
	path = packages/firmware/external/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "packages/firmware/external/Adafruit_BusIO"]
	path = packages/firmware/external/Adafruit_BusIO
	url = https://github.com/rgiese/Adafruit_BusIO.git
[submodule "packages/firmware/external/tic-arduino"]
	path = packages/firmware/external/tic-arduino
	url = https://github.com/rgiese/tic-arduino.git
